<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>xsmallText</key>
	<integer>12</integer>
	<key>smallText</key>
	<integer>15</integer>
	<key>mediumText</key>
	<integer>18</integer>
	<key>largeText</key>
	<integer>20</integer>
	<key>xlargeText</key>
	<integer>25</integer>
	<key>xsmallSpacing</key>
	<integer>0</integer>
	<key>smallSpacing</key>
	<integer>0</integer>
	<key>mediumSpacing</key>
	<integer>0</integer>
	<key>largeSpacing</key>
	<integer>0</integer>
	<key>xlargeSpacing</key>
	<integer>0</integer>
</dict>
</plist>
